<h1>Recordings</h1>

<table>
<%@recordings.each {|r|%>
<tr>
<td><%=link_to r.name, list_recording_path(r)%></td>
<td><%=r.sourcefiles.first.recorded_at.localtime.strftime("%Y-%m-%d %H:%M:%S")%></td>
</tr>
<% } %>
</table>

