<h1>Recordings</h1>

<table class="table table-striped table-hover table-condensed">
<tr>
<th>Name</th>
<th>Started</th>
<th>Last file</th>
</tr>
<%@recordings.each {|r|%>
<tr class="<%=r.statusclass %>">
<td><%=link_to r.name, list_recording_path(r)%></td>
<td><%=r.sourcefiles.first.recorded_at.localtime.strftime("%Y-%m-%d %H:%M:%S") rescue "?"%></td>
<td><%=r.sourcefiles.last.recorded_at.localtime.strftime("%Y-%m-%d %H:%M:%S") rescue "?"%></td>
</tr>
<% } %>
</table>

